body{
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--quaternary-color);
 }
 
 html{
   font-size: 18px;
 }
 
 :root{
   --navbar-size: 17.5rem;
   --primary-color: #0f0f0f;
   --secondary-color: rgb(210,210,210);
   --tertiary-color: #9247FC;
   --quaternary-color: #21252b;
 }
 